body{
    text-align: center;
}
.divTop{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.CorpoAdm{
    width: 90%;
    margin: auto;
    display: block;
    background-color: white;
    border-radius: 5px;
}
.divTitulo{
    width: 100%;
    margin-left: 100px;
}
.divTitulo h1{
    width: 350px;
    padding: 15px;
    color: rgb(44, 44, 44);
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
}
.divSair{
    margin-left: auto;
}
#sair{
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #EBEBEB;
    text-align: center;
    border-radius: 5px;
    background-color: #ff7167;
}
#sair:hover{
    background-color: #FF5145;
    border: 2px solid black;
}
.Produto{
    width: 90%;
    display: flex;
    height: 85px;
    border-bottom: 1px solid rgb(189, 189, 189);
    margin: auto;
    padding: 10px;
}
.ProdutoImg{
    width: 7%;
    overflow: hidden;
    display: flex;
}
.ProdutoImg img{
    margin: auto;
    
    height: 100%;
    border-radius: 5px;
}

.ProdutoName{
    width: 10%;
    margin: auto;
    text-align: start;

}
.ProdutoName p{
    margin-top: 5px;
}
.ProdutoDesc{
    width: 50%;
    margin: auto;
    text-align: start;
}
.ProdutoDesc p{
    margin-top: 5px;
}
.ProdutoButton{
    margin: auto 0px auto auto;
}
.ProdutoButton button{
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid white;
    text-align: center;
    border-radius: 5px;

}
.ProdutoButton #editar{
    background-color: #fac83e;
}
.ProdutoButton #deletar{
    background-color: #ff7167;
}
.ProdutoButton #editar:hover{
    background-color: #FFBB01;
    border: 2px solid black;
}
.ProdutoButton #deletar:hover{
    background-color: #FF5145;
    border: 2px solid black;
}
#buttonADD{
    font-size: medium;
    margin-left: auto;
    padding: 15px;
    cursor: pointer;
    border: 2px solid #EBEBEB;
    text-align: center;
    border-radius: 5px;
    background-color: #428EFF;
}
#buttonADD:hover{
    background-color: #8AB4F8;
    border: 2px solid black;
}
.divADD{
    margin: auto;
    width: 90%;
    display: flex;
}
.divADD div{
    width: 90%;
    margin: 10px auto;
    display: flex;
}
.divADD div a{
    margin-left: auto;
}